<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msahil432.sms">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- Used for starting foreground service for backup/restore on Android P+ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <application
        android:name="com.moez.QKSMS.common.QKApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDark">
        <receiver android:name=".CategorizerBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.msahil432.sms.START_CATEGORIZATION"/>
            </intent-filter>
        </receiver>
        <activity
            android:name="com.msahil432.sms.SplashActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moez.QKSMS.feature.main.MainActivity"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name="com.moez.QKSMS.feature.compose.ComposeActivity"
            android:parentActivityName="com.moez.QKSMS.feature.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
                <data android:scheme="sms_body" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>

            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value=".common.util.QkChooserTargetService" />
        </activity>
        <activity android:name="com.moez.QKSMS.feature.settings.SettingsActivity" />
        <activity android:name="com.moez.QKSMS.feature.plus.PlusActivity" />
        <activity
            android:name="com.moez.QKSMS.feature.gallery.GalleryActivity"
            android:theme="@style/AppThemeBlack" />
        <activity android:name="com.moez.QKSMS.feature.conversationinfo.ConversationInfoActivity" />
        <activity android:name="com.moez.QKSMS.feature.notificationprefs.NotificationPrefsActivity" />
        <activity android:name="com.moez.QKSMS.feature.blocked.BlockedActivity" />
        <activity
            android:name="com.moez.QKSMS.feature.qkreply.QkReplyActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/AppThemeLightDialog" />
        <activity android:name="com.moez.QKSMS.feature.scheduled.ScheduledActivity" />
        <activity android:name="com.moez.QKSMS.feature.backup.BackupActivity" />
        <activity android:name=".CategorizationActivity" />

        <receiver android:name="com.moez.QKSMS.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.moez.QKSMS.receiver.DefaultSmsChangedReceiver">
            <intent-filter>
                <action android:name="android.provider.action.DEFAULT_SMS_PACKAGE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.moez.QKSMS.receiver.DeleteMessagesReceiver" />
        <receiver
            android:name="com.moez.QKSMS.receiver.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.moez.QKSMS.receiver.MmsReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.moez.QKSMS.receiver.MmsSentReceiver"
            android:taskAffinity="com.moez.QKSMS.MMS_SENT" />
        <receiver
            android:name="com.moez.QKSMS.receiver.MmsUpdatedReceiver"
            android:taskAffinity="com.moez.QKSMS.MMS_UPDATED" />
        <receiver
            android:name="com.moez.QKSMS.receiver.MmsReceivedReceiver"
            android:taskAffinity="com.klinker.android.messaging.MMS_RECEIVED" />
        <receiver android:name="com.moez.QKSMS.receiver.MarkSeenReceiver" />
        <receiver android:name="com.moez.QKSMS.receiver.MarkReadReceiver" />
        <receiver android:name="com.moez.QKSMS.receiver.RemoteMessagingReceiver" />
        <receiver android:name="com.moez.QKSMS.receiver.NightModeReceiver" />
        <receiver android:name="com.moez.QKSMS.receiver.SmsProviderChangedReceiver">
            <intent-filter>
                <action android:name="android.provider.action.EXTERNAL_PROVIDER_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.moez.QKSMS.receiver.SendScheduledMessageReceiver" />
        <receiver android:name="com.moez.QKSMS.feature.widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.moez.QKSMS.intent.action.ACTION_NOTIFY_DATASET_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service android:name="com.android.mms.transaction.TransactionService" />
        <service android:name="com.moez.QKSMS.feature.backup.RestoreBackupService" />
        <service
            android:name="com.moez.QKSMS.feature.widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name="com.moez.QKSMS.service.HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
        <service
            android:name="com.moez.QKSMS.common.util.QkChooserTargetService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>
        <service android:name="com.moez.QKSMS.service.SendSmsService" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>